<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959850085810-aiicg44ga4qt6jscs7vdtiji77vjotqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959850085810-aiicg44ga4qt6jscs7vdtiji77vjotqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCzLaLHvwqtzExXLHPuvy1YgmjLNKYDBS0</string>
	<key>GCM_SENDER_ID</key>
	<string>959850085810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barontech.pakissan</string>
	<key>PROJECT_ID</key>
	<string>merizameen-238e7</string>
	<key>STORAGE_BUCKET</key>
	<string>merizameen-238e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959850085810:ios:1bce106f88093272bc38ab</string>
</dict>
</plist>